body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 30vw;
    height: 30vh;
    border: 0.2vh solid black;
    padding:4vh;
}

.user,
.user_pass {
    width: 100%;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#login_btn {
    margin-top: 2vh;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    font-size: 2vh;
    color: rgba(255, 255, 255, 0.877);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login_btn:hover {
    background-color: #0056b3;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 2.4vw;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


